body {
    display: grid;
    grid-template-rows: 70px auto auto auto auto;
}

section {
    background: salmon;
}

.header,
.footer,
.stage,
.contact,
.about {
    background: hotpink;
    grid-column: span 3;
}

.header,
.footer {
    background: ghostwhite;
    grid-gap: 20px;
}

.stage {
    display: inline-block;
    padding: 40px 80px;
}

.contact {
    background: white !important;
    padding: 30px 80px;
}